:host {
  .logo_holder {
    margin: 0 auto;
    text-align: center;
  }

  .application_state {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cite {
      font-size: 2rem;
      font-weight: bold;
    }

    border: 5px solid whitesmoke;
    border-radius: 12px;
  }
}
